# Telegram
TELEGRAM_BOT_TOKEN=
TELEGRAM_WEBHOOK_SECRET=
TELEGRAM_STARS_PRICE=299

# OpenAI
OPENAI_API_KEY=
OPENAI_MODEL=gpt-4o
OPENAI_WHISPER_MODEL=whisper-1

# MySQL
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=prime_assistant
DB_USER=root
DB_PASS=

# Admin Panel
ADMIN_LOGIN=admin
ADMIN_PASSWORD=

# App
APP_ENV=production
LOG_LEVEL=error
FREE_DAYS=2
TINYMCE_API_KEY=
SUBSCRIPTION_DAYS=30
APP_URL=https://yourdomain.com
